* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(/crumpled-black-paper-texture.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

html,
body {
  scroll-behavior: smooth;
}

.wall {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  position: relative;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;
  z-index: 9;
}

.code-storm-form {
  position: relative;
  z-index: 10;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
}

.code-storm-form:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.7);
}

h2.animated-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: rgb(222, 137, 10);
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 1.2rem;
  color: #fa0;
  display: block;
  margin-bottom: 5px;
}

input,
select {
  letter-spacing: 0.4px;
  width: 100%;
  padding: 15px;
  border-radius: 13px;
  border: 1px solid #ccc;
  background: #000;
  color: #fa0;
  font-size: 1.2rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select {
  cursor: pointer;
}

input:hover,
select:hover {
  border-color: #ecf00d;
  box-shadow: 0 0 15px rgba(212, 124, 0, 0.7);
}

input:focus,
select:focus {
  outline: none;
  border-color: #d4d4d4;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

input::placeholder {
  color: rgb(255, 255, 255);
}

/* Submit Button Styling */
button {
  width: 100%;
  padding: 15px;
  border:5px solid #b36b00;
  border-radius: 20px;
  background-color: #302f2f;;
  color: #b36b00;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

button:hover {
  background-color: #b36b00;
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(255, 166, 0, 0.7);
  color: white;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.875em;
}

/* Random Code Rain Effect */
.rain-drop {
  position: absolute;
  top: -20px;
  color: #c6a70c;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  white-space: nowrap;
  filter: blur(0.5px);
  z-index: 0;
  pointer-events: none;
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
  .code-storm-form {
    width: 100%;
    padding: 15px;
  }

  .form-group input,
  .form-group select {
    padding: 12px;
    font-size: 0.9rem;
  }

  h2.animated-header {
    font-size: 26px;
  }

  .submit-btn {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  body {
    overflow-y: scroll;
  }

  .form-group input,
  .form-group select {
    padding: 10px;
    font-size: 0.85rem;
  }

  .submit-btn {
    padding: 12px;
  }
}