.form-group input::placeholder {
  color: rgb(255, 153, 0);
}

.form-group input:hover {
  border-color: rgb(255, 166, 0);
}

.form-group input:focus {
  border-color: #b36b00; 
  outline: none; 
}


button {
  width: 100%;
  padding: 15px;
  background-color: rgb(222, 137, 10);
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s;
}

/* عند الـ hover على الزر يكون بدرجة غامقة من الأصفر */
button:hover {
  background-color: #b36b00;
}

/* Scroll behavior for smooth scrolling to error */
html, body {
  scroll-behavior: smooth;
}

/* باقي التنسيقات */
.code-storm-form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #333;
  color: #fff;
 

}

.code-storm-form h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  color: rgb(222, 137, 10);;
  
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 15px;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 13px;
  transition: 0.3s;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.875em;
}

@media (max-width: 600px) {
  .code-storm-form {
    width: 400px;
  }
}

@media (max-width: 400px) {
  body {
    overflow-y: scroll;
  }
}
